<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>City Update</title>

</head>
<body>
<h1>Dodaj dane:</h1>
<span th:text="${tekst}"></span>
<form action="/city/update" method="post" th:object="${city_form}">
    Temperatura: <input type="text" th:field="*{temp}" required>
    <br/><br/>
    Wilgotność powietrza: <input type="text" th:field="*{air}" required><br/>
    <br/><br/>
    Nazwa miasta: <input type="text" th:field="*{name}" required><br/>
    <br/><br/>
    <input type="submit" value="Wyślij">
    <button><a href="/weather" style="text-decoration: none; color: black">Pogoda</a></button>
</form>


</body>
</html>