<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <style>
        .btn{
            display: inline-block;
        }
        div{
            display: inline-block;
            width: 100%;
            padding-top: 20px;
        }
    </style>
</head>
<body>


<div th:block th:each="temp : ${list}">
    <div  style="height: 200px; width: 200px; text-align: center; background-color: red">
        <span>Najgorętszy dzień:</span><br/>
        <span th:text="${list.greatestTemp() == null ? 'Brak danych' : list.greatestTemp()}"></span><br/>
    </div>
    <div  style="height: 200px; width: 200px; text-align: center; background-color: limegreen">
        <span>Najwilgotniejszy dzień:</span><br/>
        <span th:text="${list.greatestAir() == null ? 'Brak danych' : list.greatestAir()}"></span><br/>
    </div>
    <div  style="height: 200px; width: 200px; text-align: center; background-color: yellow">
        <span>Największa średnia temp w:</span><br/>
        <span th:text="${list.greatestCity()}"></span><br/>
    </div>
    <div  style="height: 200px; width: 200px; text-align: center; background-color: blue">
        <span>Najzimniejszy dzień:</span><br/>
        <span th:text="${list.lowestTemp() == null ? 'Brak danych': list.lowestTemp()}"></span><br/>
    </div>
    <div>
        <button class="btn"><a href="/city/update" style="text-decoration: none; color: black">Dodaj nowa temperature</a></button>
        <button class="btn"><a th:href="${'/delete'}" style="text-decoration: none; color: black">Delete</a> </button>
        <button class="btn"><a th:href="${'/sample'}" style="text-decoration: none; color: black">Sample</a> </button>
    </div>

</div>
</body>
</html>